/*
components/Post.js
*/

body {
    width: 290px;
    margin: auto;
}

.post_image {
    max-width: 250px;
}

.post {
    margin: 12px auto 12px;
    padding: 12px 20px;
    border: 1px solid #eee;
    border-radius: 4px;
}

